@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white selection:bg-pink-500 selection:text-white;
    font-family: 'Inter', sans-serif;
  }
}